<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form action="/relatorio/create" method="post" style="display:flex; flex-direction:column">
          <label for="cargo">Cargo:</label>
		  <select name="cargo" id="cargo">
		    <option value="cliente">Cliente</option>
		    <option value="colaborador">Colaborador</option>
		    <option value="supervisor">Supervisor</option>
		  </select>
		  <br><br>
 	 	  <input type="submit" value="Submit">
    </form>
</body>
</html>