<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form action="/os/update" method="post" style="display:flex; flex-direction:column">
            <label for="id">Id</label>
            <input name="id" />
            <label for="titulo">Titulo</label>
            <input name="titulo" />
            <label for="responsavel">Responsavel</label>
            <input name="responsavel" />
            <label for="supervisor">Supervisor</label>
            <input name="supervisor" />
            <label for="cliente">Cliente</label>
            <input name="cliente" />
            <label for="status">Status</label>
            <input name="status" />
            <label for="inicio">Inicio</label>
            <input name="inicio" />
            <label for="fim">Fim</label>
            <input name="fim" />
            <br>
            <button type="submit">Atualizar</button>
    </form>
</body>
</html>